* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-box{
    width: 100%;
    align-items: center;
}

/*Category card*/

/* Hero Unit ----------------------*/

.hero-unit{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.span-front {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 94%;
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 4%;
    gap: .5rem;
}

.span-front svg {
    width: 2rem;
    height: 2rem;
    fill: white;
}
.span-front img {
    width: 2rem;
    height: 2rem;

}
.cat-des{
    font-size: 10pt;
    color: #F9F8EB;
    text-align: center;
}
.categories-title{
    font-size: 15pt;
    color: #F9F8EB;
    font-weight: 500;
}

/* Buttons Card Flipper*/
.flip-cards {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;

}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flip-cards li {
    width: 15rem;
    height: 180px;
    padding: 1% 1%;
    border-radius: 1rem;
}

.flip-cards li:hover {
    cursor: pointer;
    transform: rotate(3%);
}


/* Button Card Colors */
.flip-cards .panel {
    border: none;
}


/* 1card */
.flip-cards li:first-child>.button {
    border-radius: .8rem;
    background-color: rgba(40, 57, 77, 0.93);
}
.flip-cards li:first-child>.button:hover {
    box-shadow: 6px 8px 6px -6px rgb(142, 142, 146);
}

/* 2card */
.flip-cards li:nth-child(2)>.button {
    border-radius: .8rem;
    background-color: rgba(65, 175, 187, 0.879)
}
.flip-cards li:nth-child(2)>.button:hover {
    box-shadow: 6px 8px 6px -6px rgb(142, 142, 146);
}

/* 3card */
.flip-cards li:last-child>.button {
    border-radius: .8rem;
    background-color: rgba(100, 66, 87, 0.933);
}
.flip-cards li:last-child>.button:hover {
    box-shadow: 6px 8px 6px -6px rgb(142, 142, 146);
}

/*RESPONSIVE*/
@media screen and (max-width:740px) {
    
}
@media screen and (max-width: 35em) {

    .flip-cards li {
        width: 100%;
        font-size: 1rem;
        height: 12rem;
    }

    .hub-info p{
        font-size: 10pt;
    }

}


/* <-------------------------------------------> */


.mission-Container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #74b49be0;
    padding: 1.5rem;
    margin: 1rem 5%;
    border-radius: .8rem;
    gap: .5rem;
    justify-self: center;

}
.mission-Container h1{
    text-align: center;
    font-size: 30pt;
    color: #F9F8EB;
    text-shadow: 5px 5px #74B49B;
}

.mission-Container p {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    text-align: center;
}

.cat-title{
    width: fit-content;
    height: 5rem;
    padding: 0.3rem 0;
    color: #74b49b;
    border-bottom: 2px solid #74b49b;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

/* Card Blog */

.publications-box{
    width: 100%;
    padding: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.blogcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    height: 25rem;
    background-color: #f9f8eb;
    -webkit-box-shadow: 6px 8px 6px -6px rgb(177, 177, 185);
    -moz-box-shadow: 6px 8px 6px -6px rgb(178, 178, 184);
    box-shadow: 6px 8px 6px -6px rgb(182, 182, 188);
    border-radius: 1rem;
}
.blogcard img{
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    height: 50%;
    object-fit: cover;
}
.bloginfo{
    width: 100%;
    height: 50%;
    padding: 1rem;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bloginfo h4{
    width: 100%;
    font-size: 12pt;
    font-weight: bold;
}
.bloginfo button{
    width: 8rem;
    padding: .5rem 1.5rem;
    background-color: #77628c;
    align-self: flex-end;
    border: none;
    border-radius: 15pt;
    color: #F9F8EB;
    box-shadow: 6px 8px 6px -6px rgb(182, 182, 188);
    cursor: pointer;
}


/*Details*/

.detail-div{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.detailBlog{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    background-color: #74b49bb4;
    border-radius: .7rem;
    padding: 2rem;
    display: flex; 
    flex-direction: column;
}
.detailBlog img{
    border-radius: .6rem;
    width: 100%;
    height:20rem;
    object-fit: cover;
    background-position: 50%;
    border: 1px solid #F9F8EB;
}

.info-blog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-p{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 0rem;
    gap: 1rem;
    align-items: center;
}
.info-p p{
    padding: 1.5rem 0rem;
}
.category-d{
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    color: #654881;
    border: 1px solid #f9f8eb00;
}

.date-d {
    font-size: 1rem;
}

.title-d{
    font-size: 15pt;
    font-weight: 600;
}
.description-d{
    font-size: 1rem;
    font-weight: 500;
}
.url-d{
    padding: 1rem;
    font-size: 1rem;
    word-break: break-all;
    text-align: center;
    border-radius: .3rem;
    background-color: #F9F8EB;
}
.linkto{
    background-color: hsl(157, 33%, 52%);
    padding: .5rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #F9F8EB;
    border-radius: .3rem;
    align-self: center;
}
.linkto:hover {
    color: #F9F8EB;
}
