.carousel-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.carousel-title{
    align-self: center;
    text-align: center;
    font-size: 23pt;
    font-weight: 500;
    color: #74B49B;
    padding: 1rem;
    border-bottom: 3px solid #74B49B;
    width: 15rem;
}
.carousel-div{
    width: 100%;
    height: 60vh;
    flex-direction: column;
    height: inherit;
}
.carousel-div img{
    width: 100%;
    height: 45vh;
    object-fit: cover;
}
.carousel-div h3{
    margin: 0;
    height: auto;
    background: #74B49B;
    text-align: center;
    padding: .3rem 0 2.3rem 0;
    color: #F9F8EB;
}
