* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    font-size: 8pt;

}

.cart-container h2 {
    font-size: 1.5rem;
    color: #402f50;
    margin: 0;
    padding-bottom: 0.5rem;
    text-shadow: 2px 2px #74b49b;
    width: 100%;
    text-align: center;
}

.shoppingCart,
.bill-data {
    display: flex;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    flex-direction: column;
    margin-bottom: 2rem;
}

.bill-data {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

table {
    width: 100%;
    padding: 1rem;

}

table button {
    background: none;
    padding: .3rem;
    border: 1px solid white;
    border-radius: 50%;
}

table svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #5C8D89;
}

table img {
    width: 100%;
    height: 5rem;
    object-fit: cover;
}

table p {
    font-weight: 500;


}

table tr {
    display: flex;
    justify-content: space-around;
}

thead {
    width: 100%;
    padding: .5rem;
}

.first {
    width: 20%;
}

.second {
    width: 40%;
}

.third {
    width: 40%;
}

table td {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    justify-content: center;
    align-items: center;
}

.quantity {
    padding: .2rem .5rem;
    background-color: #F9F8EB;
    border-radius: 50%;
}

.input {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .2rem;
}

.Total-cart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    font-size: 15pt;
}

tbody {
    border-bottom: 3px solid gray;
}

tbody td {
    border-bottom: 1px dotted #A7D7C5;
}


.bill-data {
    display: flex;
    width: 100%;
    gap: .5rem;
    flex-direction: column;
    align-items: center;
    background-color: #F9F8EB;
}

.bill-data form,
label {
    display: flex;
    flex-direction: column;
    padding: .1rem;;

}

.bill-data form {
    width: 100%;
    padding: 1rem;
}

.bill-data h3 {
    font-size: 15pt;
}

.bill-data input{
    border: 1px solid #aaa99d;
    border-radius: 1rem;
}
.submit{
    padding: .2rem .5rem;
    background-color: #402f50;
    border: none;
    color: #A7D7C5;
    font-weight: 500;
}
.notifications{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
}
.notifications img{
    padding: 2%;
}

@media screen and (min-width:800px) {
    .cart-container{
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .shoppingCart, .bill-data {
        width: 45%;
    }
}